
form{
    margin-top: 3rem;
   
}
input{
    box-shadow: 3px 3px 3px 3px black;
    border-radius: 4px;
    height: 50px;
    width: 200px;
}
button{
    box-shadow: 3px 3px 3px 3px black;
    border-radius: 9px;
    height: 40px;
    width: 100px;
   
}